@use '../styles/abstracts/variables' as vars;

.page {
  min-height: vars.$viewport-height;
}

.page__main {
  max-width: vars.$layout-max-width;
  margin: vars.$space-0 auto;
  padding: vars.$space-8xl vars.$space-4xl vars.$space-9xl;
}
