@use '../01_utilities/variables/system' as vars;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Sora:wght@500;600;700;800&display=swap');

body {
  min-height: vars.$viewport-height;
  background: vars.$body-background;
  color: vars.$color-text-primary;
  font-family: vars.$font-body;
  text-rendering: vars.$text-rendering-default;
}

h1,
h2 {
  font-family: vars.$font-title;
}

h3,
h4,
h5,
h6 {
  font-family: vars.$font-subheading;
}

button {
  font-family: vars.$font-button;
}

a {
  color: inherit;
  text-decoration: none;
}
