@use './styles/abstracts/variables' as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: vars.$space-0;
  padding: vars.$space-0;
}

body {
  min-height: vars.$viewport-height;
  background: vars.$body-background;
  color: vars.$color-text-primary;
  font-family: vars.$font-body;
  text-rendering: vars.$text-rendering-default;
}

a {
  color: inherit;
  text-decoration: none;
}
